/* Fonts */







/* Color Theme Swatches in Hex */
.monocromatich-1-hex { color: #2F4575; }
.monocromatich-2-hex { color: #ADC5F7; }
.monocromatich-3-hex { color: #6290F5; }
.monocromatich-4-hex { color: #525D75; }
.monocromatich-5-hex { color: #4E72C2; }


/* Color Theme Swatches in Hex */
.Two-jellyfish-on-a-blue-background-1-hex { color: #0424D9; }
.Two-jellyfish-on-a-blue-background-2-hex { color: #031CA6; }
.Two-jellyfish-on-a-blue-background-3-hex { color: #03178C; }
.Two-jellyfish-on-a-blue-background-4-hex { color: #020F59; }
.Two-jellyfish-on-a-blue-background-5-hex { color: #3DADF2; }

/* Color Theme Swatches in RGBA */
.Two-jellyfish-on-a-blue-background-1-rgba { color: rgba(4, 36, 217, 1); }
.Two-jellyfish-on-a-blue-background-2-rgba { color: rgba(3, 28, 166, 1); }
.Two-jellyfish-on-a-blue-background-3-rgba { color: rgba(3, 23, 140, 1); }
.Two-jellyfish-on-a-blue-background-4-rgba { color: rgba(2, 15, 89, 1); }
.Two-jellyfish-on-a-blue-background-5-rgba { color: rgba(61, 173, 242, 1); }

/* Color Theme Swatches in HSLA */
.Two-jellyfish-on-a-blue-background-1-hsla { color: hsla(230, 96, 43, 1); }
.Two-jellyfish-on-a-blue-background-2-hsla { color: hsla(230, 96, 33, 1); }
.Two-jellyfish-on-a-blue-background-3-hsla { color: hsla(231, 95, 28, 1); }
.Two-jellyfish-on-a-blue-background-4-hsla { color: hsla(231, 95, 17, 1); }
.Two-jellyfish-on-a-blue-background-5-hsla { color: hsla(202, 87, 59, 1); }


/*header*/

header {
    text-align: center;
}

header nav a {
    float: left;
    font-size: 20px;
    color: #2F4575;
    text-decoration: none;
    padding: 10px;
}

ul {
    list-style-type: none;

}

header nav a:hover {
    color:#6290F5;
}


.background-pattern {
    text-align: center;
}


body {
    font-family: "roboto" , sans serif;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

 .background-image {
    background-image: url(../img/senga.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 80vh;
    padding-bottom: 50px;
    filter: drop-shadow(21px 11px 17px rgb(0,0,0));
}


.logo {
    padding: 10px;
    float: left;
}

.shop-logo {
    max-width: 100px;
    max-height: 100px;
    margin: 0px;
}



.produkt-bilder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1000px;
    margin: 20px auto;
}

.produkt-bilde {
  width: 80%;
  border-radius: 10px;
  margin: 20px;
  filter: drop-shadow(21px 11px 17px rgb(0,0,0));
}

.product-info {
    background-color: whitesmoke;
    padding: 20px;
    margin: 20px;
    border-radius:10px;
}

.produkt-background {
    background-image: url(../img/produktbakgrunn.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 80vh;
    padding-bottom: 50px;
    filter:contrast(1.1);
    filter: hue-rotate(5);
    filter: drop-shadow(21px 11px 17px rgb(0,0,0));
}


h1 {
    font-family: 'Lato', sans-serif;
    color: #031CA6;
    font-size: 60px;
    margin-top: 120px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #0424D9;
    font-size: 40px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: #031CA6;
    font-size: 30px;
}

.cta_button {
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    color: #fff;
    border: solid 2px #fff;
    background-color: #031CA6; 
    padding: 15px 25px;
}

.cta_button:hover {
    color: #fff;
    border: solid 2px #fff;
    background-color: #0424D9;
    padding: 20px 35px;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

footer {
    background-color: #031CA6;
}

footer p {
    font-family: 'Roboto', sans-serif;
    color: white;
    float: right;
    padding: 10px;
}

p {
   font-family: 'Roboto', sans-serif;
   color: #2F4575;
}



.welcome {
    text-align: center;
    padding: 20px;
}


.background-pattern {
    background-image: url(../img/texture.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.products {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: 20px auto;
}


.price {
    font-family: 'Roboto', sans-serif;
    color: #0424D9;
}

li {
    float: right;
}


.cta_shop {
    display: inline-block;
        font-family: 'Lato', sans-serif;
        color: #fff;
        background-color: #031CA6; 
        padding: 10px 20px;
       
    }

.cta_shop:hover {
    transition: 0.5s;
    color: #fff;
    background-color: #0424D9; 
    padding: 15px 25px;

}




@media (max-width:1000px) {
    .products {
        display:grid;
        grid-template-columns: 1fr;
        max-width: 1000px;
        margin: 20px auto;
    }
    
    .produkt-bilde {
        width: 50%;
        border-radius: 10px;
        margin: 2px;
        filter: drop-shadow(21px 11px 17px rgb(0,0,0));
      }

      .product-info {
        padding: 10px;
        border-radius:10px;
    }

    li {
        float: left;
    }

    
}


