/* Color Theme Swatches in Hex */
.triadic-1-hex { color: #3286A8; }
.triadic-2-hex { color: #F57A91; }
.triadic-3-hex { color: #62CAF5; }
.triadic-4-hex { color: #F5EF72; }
.triadic-5-hex { color: #A8A33B; }


/*header*/

header {
    text-align: center;
}

header nav a {
    float: left;
    font-size: 20px;
    color: #3286A8;
    text-decoration: none;
    padding: 10px;
}

ul {
    list-style-type: none;

}







.background-pattern {
    text-align: center;
}


body {
    font-family: "roboto" , sans serif;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

 .background-image {
    background-image: url(../img/senga.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 80vh;
    padding-bottom: 50px;

}

.logo {
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
    float: left;
}



.produkt-bilder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1000px;
    margin: 20px auto;
}

.produkt-bilde {
  width: 60%;
  margin: 20px;
}


 

h1 {
    color: #3286A8;
    font-size: 60px;
    margin-top: 50px;
}

h2 {
    color: #62CAF5;
    font-size: 40px;
}

h3 {
    color: #3286A8;
    font-size: 30px;
}

.cta_button {
    margin-top: 10px;
    color: #3286A8;
    padding: 15px 30px;
    border: solid 2px #3286A8;
}

.cta_button:hover {
    color: #F57A91;
    border: solid 2px #F57A91;
    background-color: #3286A8;
    padding: 20px 35px;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

footer {
    background-color: #2F4575;
}

footer p {
    color: white;
    float: right;
    padding: 10px;
}

p {
    max-width: 500px;
    margin: 0px auto;
    margin-bottom: 30px;
    color: white;
}

.welcome {
    text-align: center;
    padding: 20px;
}


.background-pattern {
    background-image: url(../img/texture.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}




